@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap');

body {
    margin: 0;
    text-align: left;
    background-color: #fff;
}

div.grwf2-wrapper.wf2-embedded {
    margin: 0 !important;
}

img.logo {
    margin-top: 60px;
}

h1 {
    font-family: Roboto;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.3125rem;
    letter-spacing: -0.03em;
    text-align: left;
    color: #E78004;
}

.text p {
    font-family: Roboto;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.9375rem;
    letter-spacing: -0.02em;
    text-align: left;
    color: #23242A;
    max-width: 50vw;
}

.newsletter p {
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.375rem;
    letter-spacing: -0.01em;
    text-align: left;
    color: #E78004;
    display: block;
}

input.email {
    width: 100%;
    max-width: 350px;
    height: 40px;
    border: 1px solid #23242A;
    box-sizing: border-box;
    border-radius: 4px;
}

input.email::-webkit-input-placeholder {
    color: #D1DCE5;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
    letter-spacing: -0.01em;
    text-align: left;
    color: #D1DCE5;
    padding: 5px 10px;
}

.newsletter .button {
    width: 100%;
    max-width: 350px;
    padding: 8px 18px;
    color: #fff;
    background: #E78004;
    border: none;
    margin-top: 20px;
    height: 40px;
}

input.button {
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.375rem;
    letter-spacing: -0.01em;
    text-align: center;
}

.moo {
    text-align: left;
    float: left;
    display: block;
    width: 60%;
    background-color: transparent;
}

.border-wraper {
    background-color: rgba(255, 255, 255, 0) !important;
}

.social {
    margin: 30px 0 60px 0;
    display: block;
    float: left;
    width: 100%;
}

.social .ig, .social .fb {
    display: inline-block;
}

@media (max-width: 768px) {
    body {
        background-image: url('../images/morcik.svg');
    }

    div.container {
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    img.logo {
        width: 60%;
        left: 50%;
        position: relative;
        padding: 1.3rem 0 0 !important;
        margin: 0;
        transform: translateX(-50%);
    }

    .content-container {
        padding-top: 1.3rem;
    }

    .content-title {
        text-align: center;
        margin: 0;
    }

    .content-text {
        padding-top: 1.3rem;
        margin: 0 2rem;
    }

    .content-text p {
        max-width: 100%;
        text-align: center;
    }

    .moo {
        margin: 0 auto;
        padding-top: 20px;
        float: none;
        width: 90%;
    }

    .moo .lp-flex-container {
        width: 100% !important;
    }

    .moo .form-input-element {
        height: 65px !important;
        padding-left: 25px !important;
        border-radius: 4px !important;
        font-size: 18px !important;
    }

    .moo .form-input-element::placeholder {
        color: #D1DCE5 !important;
        font-size: 18px !important;
    }

    .moo .moosend-designer-button {
        height: 65px;
        border-radius: 8px !important;
        font-size: 25px !important;
        font-weight: 700 !important;
    }

    h1 {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2.5rem;
    }

    .social {
        width: 90%;
        margin: 0 auto;
        padding: 16px 0;
        float: none;
    }

    .social div {
        margin-right: 13px;
    }

    .ig img, .fb img {
        max-width: 56px;
    }
}

